---
import Layout from "../../layouts/Layout.astro";
import AthleteIsland from "../../components/islands/AthleteIsland.astro";
import { ProfileSkeleton } from "../../features/athletes/components/AthleteProfile";

const { id } = Astro.params;
---

<Layout title="Perfil del Atleta">
  {id ? (
    <AthleteIsland server:defer id={id}>
      <ProfileSkeleton slot="fallback" />
    </AthleteIsland>
  ) : (
    <p>ID no proporcionado</p>
  )}
</Layout>
