---
import Layout from "../../layouts/Layout.astro";
import ProfessorIsland from "../../components/islands/ProfessorIsland.astro";
import { ProfileSkeleton } from "../../features/professors/components/ProfessorProfile";

const { id } = Astro.params;
---

<Layout title="Perfil del Entrenador">
  {id ? (
    <ProfessorIsland server:defer id={id}>
      <ProfileSkeleton slot="fallback" />
    </ProfessorIsland>
  ) : (
    <p>ID no proporcionado</p>
  )}
</Layout>
