---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../features/auth/components/LoginForm";
import "../styles/index.css";
import "../styles/styles.css";
---

<Layout title="Iniciar Sesión - Valle Paraatletismo">
  <div class="bg-glow"></div>
  <div class="min-h-screen flex items-center justify-center p-4 relative z-10">
    <LoginForm client:load />
  </div>
</Layout>
