---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../features/auth/components/LoginForm";
import "../styles/styles.css";
---

<Layout title="Iniciar Sesión - Valle Paraatletismo">
  <div class="bg-glow"></div>
  <LoginForm client:load />
</Layout>
